{% extends 'admin_base.html.twig' %}

{% block title %}TxtContent{% endblock %}

{% block body %}
    <h1>TxtContent</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ txt_content.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ txt_content.content }}</td>
            </tr>
            <tr>
                <th>CreatAt</th>
                <td>{{ txt_content.creatAt ? txt_content.creatAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdateAt</th>
                <td>{{ txt_content.updateAt ? txt_content.updateAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('txt_content_index') }}">back to list</a>

    <a href="{{ path('txt_content_edit', {'id': txt_content.id}) }}">edit</a>

    {{ include('txt_content/_delete_form.html.twig') }}
{% endblock %}
